* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    height: 6vh;
}

.menu1 {
    display: flex;
    align-items: center;
}

.menu2 {
    display: flex;
}

.a {
    color: cornsilk;
}

.content {
    background-color: silver;
    min-height: 100vh;
}

.link:hover {
    color: cornsilk;
}

#friend td:hover {
    background-color: rgb(193, 207, 207);
}

.form-control:focus {
    box-shadow: none;
}

input:hover {
    background-color: darkgray;
}

#status {
    border: 1px solid black;
    border-radius: 6px;
    display: none;
}

.stt {
    background-color: rgb(240, 242, 245);
}

.stt:hover {
    background-color: rgb(212, 218, 228);
    cursor: pointer;
}


/* .stt_2 {
    font-size: 15px;
} */

.stt_2:hover {
    background-color: rgb(212, 218, 228);
    cursor: pointer;
}

.stt_2:hover {
    background-color: rgb(212, 218, 228);
    cursor: pointer;
}

.img_like {
    border-radius: 5px;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    color: #525564;
}

.img_like:hover {
    cursor: pointer;
    background-color: rgb(240, 242, 245);
}

#inf {
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-height: 1.6rem;
    max-height: 4.8rem;
    border-radius: 5px;
    word-break: break-word;
}

#inf:hover {
    background-color: rgb(240, 242, 245);
}

.modal-dialog .a {
    max-width: 100%;
    margin: 0;
}

.modal-content .a {
    -ms-flex-direction: row;
    flex-direction: row;
}

.modal_image .a {
    width: 77%;
    display: flex;
    height: 99.7vh;
}

.carousel-item {
    padding: auto;
    height: 100%;
}

#img_modal {
    display: flex;
    max-height: 90vh;
    max-width: 80%;
    margin: auto;
}

.modal_comment {
    width: 23%;
    margin-left: auto;
}

.comment_img:hover {
    background-color: rgb(212, 218, 228);
}

.slidebar {
    height: 94vh;
}

.search_friend {
    background-color: #fff;
}

.search_friend:hover {
    background-color: rgb(212, 218, 228);
}

.form-control:hover {
    background-color: rgb(212, 218, 228);
}


/* thanh serch */

.search-box {
    color: white;
    background-color: rgb(143, 36, 36);
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 60px;
    border-radius: 120px;
}

.search-icon,
.go-icon {
    position: absolute;
    top: 0;
    height: 60px;
    width: 86px;
    line-height: 61px;
    text-align: center;
}

.search-icon {
    left: 0;
    pointer-events: none;
    font-size: 1.22em;
    will-change: transform;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.si-rotate {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.go-icon {
    right: 0;
    pointer-events: none;
    font-size: 1.38em;
    will-change: opacity;
    cursor: default;
    opacity: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.go-in {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.border {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.border {
    stroke-dasharray: 740;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}

.border-searching .border {
    stroke-dasharray: 740;
    stroke-dashoffset: 459;
    transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}

#search {
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 120px;
    border: none;
    background: rgba(255, 255, 255, 0);
    padding: 0 68px 0 68px;
    color: #FFFFFF;
    font-size: 1.32em;
    font-weight: 400;
    letter-spacing: -0.015em;
    outline: none;
}

#search::-webkit-input-placeholder {
    color: #FFFFFF;
}


/* end */

.title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}


/* #myIcon:hover {
    font-size: 30px;
    transition: .5s;
  } */

#myIcon1:hover {
    /* opacity: 0.2; */
    font-size: 20px;
}

a {
    color: black;
    direction: none;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 80px;
    cursor: pointer;
}

.background-upload>input {
    display: none;
}

.background-upload img {
    width: 80px;
    cursor: pointer;
}

#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    resize: both;
    height: 200px;
    width: 100%;
    border: none;
}

@media screen and (max-width: 560px) {
    .slidebar {
        display: none;
    }
    .nav-item>i {
        float: left;
    }
    .menu {
        display: block;
        height: 80px;
    }
    .content {
        padding-top: 100px;
    }
}