* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.img-fluid {
    border-radius: 10px;
    width: 1000px;
    height: 300px;
}


/* .navbar-nav li{
  margin: 0px 2em;
} */

.img-background {
    width: 100%;
    height: 10px;
}

.file-input:focus {
    z-index: 3;
    /*lớp thứ bn*/
}

.file-input1 {
    position: relative;
    top: -20px;
    left: 120px;
    background-color: rgba(161, 165, 165, 0.575);
    height: 28px;
    width: 30px;
    padding: 3px 7px;
    border-radius: 20px;
    opacity: 0.7;
}

.file-input1:hover {
    opacity: 1.0;
}

.file-input2 {
    position: relative;
    top: -40px;
    right: 40px;
    background-color: rgba(161, 165, 165, 0.575);
    height: 28px;
    width: 180px;
    padding: 4px 7px;
    border-radius: 7px;
    opacity: 0.7;
}

.file-input2:hover {
    opacity: 1.0;
}

#avatar {
    opacity: 1.0;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#avatar:hover {
    opacity: 0.8;
}


/*
#menu1{
display: inline;
} */

.background {
    margin: 0 auto;
    width: 900px;
    background-color: rgb(137, 141, 141);
    border-radius: 7px;
}

.menu {
    margin: 0 auto;
    width: 900px;
    background-color: rgb(219, 216, 216);
    border-radius: 10px;
}

.tab-content .border-top {
    border-radius: 20px;
}

.img1 {
    width: 163px;
    height: 180px;
    padding: 10px 10px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.icon {
    background-color: rgb(187, 184, 184);
    position: relative;
    left: 375px;
    opacity: 0.7;
}

.icon:hover {
    opacity: 1.0;
    background-color: rgb(22, 62, 121);
}

#v-pills-tab a:hover {
    background-color: rgb(32, 109, 180);
    color: white;
    border-radius: 3px;
}