* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 580px) {
    .h_slidebar {
        display: none;
    }
    .nav-item>i {
        float: left;
    }
}