* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
}

.menu1 {
    display: flex;
}

.menu2 {
    display: flex;
}

.a {
    color: cornsilk;
}

.link {}

.link:hover {
    color: cornsilk;
    background-color: crimson;
}

#friend td:hover {
    background-color: rgb(193, 207, 207);
}

.form-control:focus {
    box-shadow: none;
}

input:hover {
    background-color: darkgray;
}

.stt {
    background-color: rgb(240, 242, 245);
}

.stt:hover {
    background-color: rgb(212, 218, 228);
    cursor: pointer;
}

.stt_2:hover {
    background-color: rgb(212, 218, 228);
    cursor: pointer;
}

#inf {
    text-decoration: none;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
}

#inf:hover {
    overflow: show;
    background-color: black;
}

.modal-dialog{
    max-width: 100%;
    margin: 0;
}

.modal-content{
    -ms-flex-direction: row;
    flex-direction: row;
}

.modal_image{
    width: 77%;
    display: flex;
    height: 99.7vh;
}

.carousel-item{
    padding: auto;
    height: 100%;
}

#img_modal{
    display: flex;
    max-height: 90vh;
    max-width: 80%;
    margin: auto;
}

.modal_comment{
    width: 23%;
    margin-left: auto;
}

@media screen and (max-width: 560px) {
    .slidebar {
        display: none;
    }
    .nav-item>i {
        float: left;
    }
    .menu {
        display: block;
    }
}