.table{
    border: 3px solid rgb(50, 99, 86);
    margin: 200px 100px;
    padding: 0px 20px;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/024/251/105/medium/louis-coyle-lakeside-2019-evening-uhd2.jpg?1581805108");
    color: rgb(230, 179, 132);
    width: 320px;
    height: 330px;
    border-radius: 20px;
}
.div1{
    border-bottom: 1px solid white;
    color:rgb(235, 100, 11);
}
.container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.text {
    width: 100%;
    height: 7px;
    padding: 10px;
    outline: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.icon {
    padding: 3px;
    font-size: 20px;
    background: white;
    color: rgb(212, 113, 32);
    min-width: 25px;
    height:21px;
    text-align: center;
    border: 2px solid ;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.text:hover{
    background: darksalmon;
}
.btn:hover{
    background: deepskyblue;
}
.login{
    font-weight: bold;
    border-radius: 5px;
    left: 50px;
    width: 100px;
    height: 30px;
    background-color:rgb(235, 100, 11);
    color: white;
}
.login:hover{
    background-color: rgb(230, 179, 132);
    color:rgb(77, 77, 77);
}