.dot {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  *{

      font: 7px;
  }
  i{
      font-size: smaller;
      color: slateblue;
  }
  b:hover{
      color: blue;
      
  }
  h6:hover{
      color:red;
  }
  .dropdown{
      width: 40px;
      height: 40px;
      
  }
  .dropdown-menu{
    background-color: #eee;
    width: 280px;
    height: 300px;
    border: 1px solid black;
    overflow: scroll;
  }