.title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
  }
  
  /* #myIcon:hover {
    font-size: 30px;
    transition: .5s;
  } */
  #myIcon1:hover {
    /* opacity: 0.2; */
    font-size: 20px;
  }
  a{
    color: black;
    direction: none;
  }
  
  .image-upload > input
  {
    display: none;
  }
  
  .image-upload img
  {
    width: 80px;
    cursor: pointer;
  }
  
  .background-upload > input
  {
    display: none;
  }
  
  .background-upload img
  {
    width: 80px;
    cursor: pointer;
  }
  
  #textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    resize: both;
    height: 200px;  
    width: 100%;
    border:none;
  }