.vertical-menu {
    width: 100%;
  }
  
  .vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: olive;
  }
  .dropdown-divider{
      width: 20px;
  }
  .col-sm-9{
    border-left: 1px solid rgb(165, 156, 156);
  }
  .inline{
    display: flex;
  }