* {
    margin: 0px;
    padding: 0px;
    color: black;
}

.page {
    width: 30%;
    margin-left: 2%;
}

a {
    text-decoration: none;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
}